<div class="note-edit-container">
  <h2 *ngIf="note_id === 0 || note_id === undefined">Create a New Note</h2>
  <h2 *ngIf="note_id !== 0">Modify a Note</h2>

  <form (ngSubmit)="onSave()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" [(ngModel)]="title" name="title" required />
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea id="content" [(ngModel)]="content" name="content" rows="10" required></textarea>
    </div>

    <button *ngIf="note_id === 0" type="submit">Save Note</button>
    <button *ngIf="note_id !== 0" type="submit">Save Changes</button>
    <button *ngIf="note_id !== 0" type="reset" [routerLink]="['/notes']">Cancel</button>
  </form>
</div>

<div class="center">
  <a href="https://gemini.google.com/app?hl=fr">
    <div id="box">
      <span>AI</span>
    </div>
    <img class="ai-image" src="/assets/ai.png" alt="AI" />
  </a>
</div>


