<nav class="navbar">
  <a href="/home" class="logo">
    <img src="assets/logo.png" alt="Logo du site">
    <h1>Typy_Box</h1>
  </a>
  <div class="navbar-links">
    <a routerLink="/home" class="nav-button">Home</a>
    <a routerLink="/login" class="nav-button">Login</a>
    <a routerLink="/register" class="nav-button">Register</a>
    <a routerLink="/about-us" class="nav-button">About Us</a>
  </div>
</nav>
<title>Bloc Note Online</title>
<div class="app-container">
  <div class="navbar"> 
      </div>
  <router-outlet></router-outlet> 
</div>
<footer id="contact" class="footer">
  <h2>Contact-Us</h2>
  <div>
    <p>📞 Phone_Number : <a href="tel:+1234567890" class="contact-link">+216 55 120 887</a></p>
    <p>📧 Email : <a href="mailto:note@gmail.com" class="contact-link">typy_box&#64;gmail.com</a></p>
    <br>
  </div>
  <ul class="social-links">
    <li><a href="https://www.facebook.com/yosra.barghouda">Facebook</a></li>
    <li><a href="https://www.instagram.com/yosra_barghouda">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/yosra-barghouda-91b93293/">LinkedIn</a></li>
    <li><a href="https://x.com/?lang=fr">Twitter</a></li>
    <li><a href="https://www.youtube.com/">YouTube</a></li>
  </ul>
  <p>© 2025 Typy_Box. All rights reserved</p>
</footer>